.Game {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.GameBoard {
  align-items: center;
  border: 1px solid #999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.GameStatus {
  display: flex;
}